[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "firmware/components/micropython"]
	path = firmware/components/micropython
	url = https://github.com/jorisplusplus/micropython.git
